*.classpath
*.project
*.settings/
META-INF/
*.class
build.properties
plugin.xml
plugin.xml_gen
# Package Files #
*.jar
*.war
*.ear

bin/
*~
logs.zip
*.orig
# we need xtend generated Java files for tycho building in Jenkins
# xtend-gen/
target/
*.java._trace
*.smap
